.PinkHead {
    background-color: pink;
    font-family: Nosifer;
}

/* .heavenForgiveMe {    
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a828d78b-dfb1-4c68-99ca-7b71e0206b10/d4b33h7-06a387e4-81e9-42b8-a9e1-c4dd6f34ebad.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E4MjhkNzhiLWRmYjEtNGM2OC05OWNhLTdiNzFlMDIwNmIxMFwvZDRiMzNoNy0wNmEzODdlNC04MWU5LTQyYjgtYTllMS1jNGRkNmYzNGViYWQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Ud0c5vu71THJ0avaDwN5tk_bn2nyiKz05UDbWmKNBy8);
    background-position: top;
    background-size: cover;
} */

.locationCard {
    background: rgba(57, 0, 90, 0.75);
}

.locationCard:hover{
    background-image: url(https://img.buzzfeed.com/buzzfeed-static/static/2021-07/21/16/asset/c290e2aff836/sub-buzz-7497-1626886519-10.jpg?downsize=700%3A%2A&output-quality=auto&output-format=auto);
    background-position: center;
    background-size: cover;

}
